---
const pageTitle = "Blog";
---
<html lang = "en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href={import.meta.env.BASE_URL}>Home</a>
    <a href=`${import.meta.env.BASE_URL}about/`>About</a>
    <a href=`${import.meta.env.BASE_URL}blog/`>Blog</a>

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li>
        <a href=`${import.meta.env.BASE_URL}posts/post-1`>Post 1</a>
      </li>
    </ul>
  </body>
</html>